{% extends "admin/base.html" %}

{% load admin_static %}

{% block title %}{{ title }} | E-Commarce Administration{% endblock %}

{% block branding %}
<h1 id="site-name">
	<a href="{% url 'admin:index' %}">E-Commarce</a>
	<small><small><small><small><small>by Sathi</small></small></small></small></small>
</h1>
{% endblock %}

{% block blockbots %}
{{ block.super }}
<meta name="viewport" content="user-scalable=no, width=device-width, initial-scale=1.0, maximum-scale=1.0">
<link rel="stylesheet" type="text/css" href="{% static 'admin/css/responsive.css' %}" />
{% endblock %}

{% block nav-global %}{% endblock %}
