   {% load staticfiles %}
   <!-- Navigation -->
   <header id="header">
         <nav class="navbar navbar-default navbar-static-top" role="banner">
             <div class="container">
                 <div class="navbar-header">
                     <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                         <span class="sr-only">Toggle navigation</span>
                         <span class="icon-bar"></span>
                         <span class="icon-bar"></span>
                         <span class="icon-bar"></span>
                     </button>
                    <div class="navbar-brand">
 						<a href="{% url 'home'%}"><h1>E-comarce</h1></a>
 					</div>
                 </div>
                 <div class="navbar-collapse collapse">
 					<div class="menu">
 						<ul class="nav nav-tabs" role="tablist">
 							<li role="presentation"><a href="{% url 'home'%}" class="{% if navbar == 'home'%}active{% endif %}">Home</a></li>
 							<!-- <li role="presentation"><a href="about.html">About Us</a></li> -->
 							<!-- <li role="presentation"><a href="services.html">Services</a></li> -->
 							<li role="presentation"><a href="{% url 'product:product_list'%}" class="{% if navbar == 'product'%}active{% endif %}">Projects</a></li>
 							<li role="presentation"><a href="" class="">Contact</a></li>
 						</ul>
 					</div>
 				</div>
             </div><!--/.container-->
         </nav><!--/nav-->
     </header><!--/header-->
